/* James Smith
* October 22, 2023
* main.css
*/

/* Reset Style Rule */
body, article, section, aside, nav, footer {
    margin: 0;
    padding: 0;
    border: 0;
}

:root {
    --global-color-1: #800000;
}

header {
    font-size: 125%;
    color: var(--global-color-1);
    text-indent: 30px;
}

header h2 {
    font-size: 130%;
    font-style: italic;
    text-indent: 30px;
}

header img {
    float: left;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100%;
    margin-left: 10px;
}

#menu-icon {
    display: none;
    background-color: #1a581daf;
    color: #fff;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 10px;
}

a:focus,
a:hover {
    font-style: italic;
}

main {
    clear: right;
}

main h3 {
    font-size: 130%;
    color: var(--global-color-1);
}

nav h4 {
    font-size: 130%;
    color: var(--global-color-1);
}

footer {
    font-size: 85%;
}

img {
    max-width: 50%;
    max-height: auto;
}

nav h2 {
    font-size: 120%;
    color: var(--global-color-1);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Styles for table design */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    background-color: #cfb9b9;
}

form {
    max-width: 400px;
    margin: 20px auto;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, select, textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 12px;
    box-sizing: border-box;
  }

  button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  button:hover {
    background-color: #45a049;
  }
